In [89]:
import pandas as pd
import json

In [11]:
datas = pd.read_csv('data/works_147712.csv', sep = ';', nrows= 1000, index_col = 0)
datas.columns

Index(['id', 'doi', 'title', 'display_name', 'relevance_score',
       'publication_year', 'publication_date', 'ids', 'primary_location',
       'host_venue', 'type', 'open_access', 'authorships', 'cited_by_count',
       'biblio', 'is_retracted', 'is_paratext', 'concepts', 'mesh',
       'locations', 'best_oa_location', 'alternate_host_venues',
       'referenced_works', 'related_works', 'ngrams_url',
       'abstract_inverted_index', 'cited_by_api_url', 'counts_by_year',
       'updated_date', 'created_date', 'query', 'is_authors_truncated'],
      dtype='object')

In [63]:
datas = pd.read_csv('data/works_147712.csv', sep = ';', low_memory=False, index_col = 0)

In [64]:
works_count = datas[['id','query']]
works_count = datas.groupby(['query']).size().reset_index(name='counts').sort_values(by = ['counts'], ascending=False)
works_count

                      query  counts
1990                   tech    2000
277                      at    2000
707   electricite de france    1118
1124        johnson johnson    1000
1457               novartis    1000
...                     ...     ...
944                 hd rain       1
948            helioscience       1
951                   helyx       1
954     hensoldt france sas       1
0                     2crsi       1

[2180 rows x 2 columns]

In [100]:
sample = works_count[ (works_count['counts'] < 1000) & (works_count['counts'] >= 500) ]
len(sample)

28

In [71]:
companies = pd.read_csv('data/liste_entreprises_queries.csv', sep = ';', index_col = ['index',0])
sample = sample.merge(companies, how = 'left', on = 'query')
sample.head(10)

,query,counts,name,source,type
0,thales alenia space france,995,THALES ALENIA SPACE FRANCE,scanR,GIFAS
1,lis france,965,LIS FRANCE,scanR,CIR
2,amgen,944,Amgen,wikidata,public company
3,skema,921,SKEMA,scanR,i-LAB
4,force,893,FORCE-A,scanR,i-LAB
5,green research,880,GREEN-RESEARCH,scanR,i-LAB
6,eli lilly and company,843,Eli Lilly and Company,wikidata,public company
7,air liquide,817,Air Liquide,wikidata,public company
8,360,720,360,scanR,CII
9,ab science,714,AB SCIENCE,scanR,i-LAB

In [72]:
data_sample = datas.merge(sample, how = 'left', on = 'query').dropna(subset=['name'])
len(data_sample)

19126

## RÃ©cupÃ©rer les institutions liÃ©es aux travaux

In [88]:
institutions = data_sample[['query','name','authorships','id']]
institutions

,query,name,authorships,id
7800,schneider electric france,SCHNEIDER ELECTRIC FRANCE,"[{'author_position': 'first', 'author': {'id':...",https://openalex.org/W2042399128
7801,schneider electric france,SCHNEIDER ELECTRIC FRANCE,"[{'author_position': 'first', 'author': {'id':...",https://openalex.org/W2462775568
7802,schneider electric france,SCHNEIDER ELECTRIC FRANCE,"[{'author_position': 'first', 'author': {'id':...",https://openalex.org/W2989637527
7803,schneider electric france,SCHNEIDER ELECTRIC FRANCE,"[{'author_position': 'first', 'author': {'id':...",https://openalex.org/W1984463583
7804,schneider electric france,SCHNEIDER ELECTRIC FRANCE,"[{'author_position': 'first', 'author': {'id':...",https://openalex.org/W2075603575
...,...,...,...,...
147264,eli lilly and company,Eli Lilly and Company,"[{'author_position': 'first', 'author': {'id':...",https://openalex.org/W1999426808
147265,eli lilly and company,Eli Lilly and Company,"[{'author_position': 'first', 'author': {'id':...",https://openalex.org/W2054217796
147266,eli lilly and company,Eli Lilly and Company,"[{'author_position': 'first', 'author': {'id':...",https://openalex.org/W2015639820
147267,eli lilly and company,Eli Lilly and Company,"[{'author_position': 'first', 'author': {'id':...",https://openalex.org/W1992342975
147268,eli lilly and company,Eli Lilly and Company,"[{'author_position': 'first', 'author': {'id':...",https://openalex.org/W3083764333

In [114]:
query = 'eli lilly and company'
filename = f'cache/{query}_france_sample1000_.json'
filename = filename.replace(' ', '_')
filename

'cache/eli_lilly_and_company_france_sample1000_.json'

In [120]:
df = json.load(open(filename, 'r'))

In [165]:
partenaires_data_brut = []
signature_data = []
known_keys = [] # on ne compte qu'une fois un couple publi x affiliation qu'il y ait 1 ou 20 auteurs

# for a in df['results']:
#     b = a['authorships']
#     print(b)
a = df['results'][0]
b = a['authorships'][0]['institutions']
b
# for el in b:
#     c = el
#     print(c)
#     print(a['authorsips'])
# df['results'][0]['authorships']
# for p in df['results']:
#     print(p.get('authorhips'))
#         for i in a['raw_affiliation_string'].strip().split(';'):
#             if i and p['doi']:
#                 elt_key = p['doi']+';'+i
#                 elt = {'doi': p['doi'], 'raw_affiliation_string': i.strip()}
#                 if elt_key in known_keys:
#                     continue
#                 else:
#                     known_keys.append(elt_key)
#                 if affiliation1_type == 'raw_affiliation_string':
#                     if input_in_string(affiliation1_str, i):
#                         signature_data.append(elt)
#                     else:
#                         partenaires_data_brut.append(elt)                    
                
# pd.DataFrame(partenaires_data_brut)#.raw_affiliation_string.value_counts().head(10)

[{'id': None,
  'display_name': 'Mayo Clinic College of Medicine Rochester, MN',
  'ror': None,
  'country_code': None,
  'type': None}]